VS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
saveplace
/.emacs.d/ido.last
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
/.emacs.d/.emacs.desktop
/.emacs.d/recentf
/.emacs.d/elpa/
/.emacs.d/auto-save-list/
/.emacs.d/ac-comphist.dat
/.emacs.d/eshell/
